Framework/src/Appva.Apis.TenantServer.Legacy/Service References/Wcf/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TenantDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Connection" nillable="true" type="tns:ConnectionDto" />
      <xs:element minOccurs="0" name="Hostname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchedulerStatus" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TenantDto" nillable="true" type="tns:TenantDto" />
  <xs:complexType name="ConnectionDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Database" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FailOverPartner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Server" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrustedConnection" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConnectionDto" nillable="true" type="tns:ConnectionDto" />
  <xs:complexType name="ArrayOfTenantDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TenantDto" nillable="true" type="tns:TenantDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTenantDto" nillable="true" type="tns:ArrayOfTenantDto" />
  <xs:complexType name="LogDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tenant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogDto" nillable="true" type="tns:LogDto" />
  <xs:complexType name="ArrayOfLogDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogDto" nillable="true" type="tns:LogDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogDto" nillable="true" type="tns:ArrayOfLogDto" />
</xs:schema>