Framework/src/Appva.Apis.TenantServer.Legacy/Service References/Wcf/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" />
      <xsd:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITenantService_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_FindByContext_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByContext" />
  </wsdl:message>
  <wsdl:message name="ITenantService_FindByContext_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByContextResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Load_InputMessage">
    <wsdl:part name="parameters" element="tns:Load" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Load_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Persist_InputMessage">
    <wsdl:part name="parameters" element="tns:Persist" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Persist_OutputMessage">
    <wsdl:part name="parameters" element="tns:PersistResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Merge_InputMessage">
    <wsdl:part name="parameters" element="tns:Merge" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Merge_OutputMessage">
    <wsdl:part name="parameters" element="tns:MergeResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Inactivate_InputMessage">
    <wsdl:part name="parameters" element="tns:Inactivate" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Inactivate_OutputMessage">
    <wsdl:part name="parameters" element="tns:InactivateResponse" />
  </wsdl:message>
  <wsdl:message name="ITenantService_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ITenantService_LoadLogs_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadLogs" />
  </wsdl:message>
  <wsdl:message name="ITenantService_LoadLogs_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadLogsResponse" />
  </wsdl:message>
  <wsdl:portType name="ITenantService">
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Find" message="tns:ITenantService_Find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/FindResponse" message="tns:ITenantService_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByContext">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/FindByContext" message="tns:ITenantService_FindByContext_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/FindByContextResponse" message="tns:ITenantService_FindByContext_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Load">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Load" message="tns:ITenantService_Load_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/LoadResponse" message="tns:ITenantService_Load_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Persist">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Persist" message="tns:ITenantService_Persist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/PersistResponse" message="tns:ITenantService_Persist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Merge" message="tns:ITenantService_Merge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/MergeResponse" message="tns:ITenantService_Merge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Remove" message="tns:ITenantService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/RemoveResponse" message="tns:ITenantService_Remove_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Inactivate">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Inactivate" message="tns:ITenantService_Inactivate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/InactivateResponse" message="tns:ITenantService_Inactivate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/Log" message="tns:ITenantService_Log_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadLogs">
      <wsdl:input wsaw:Action="http://tempuri.org/ITenantService/LoadLogs" message="tns:ITenantService_LoadLogs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITenantService/LoadLogsResponse" message="tns:ITenantService_LoadLogs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITenantService" type="tns:ITenantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Find">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByContext">
      <soap:operation soapAction="http://tempuri.org/ITenantService/FindByContext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Load">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Load" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Persist">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Persist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Merge">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Merge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Inactivate">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Inactivate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ITenantService/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LoadLogs">
      <soap:operation soapAction="http://tempuri.org/ITenantService/LoadLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_ITenantService" binding="tns:BasicHttpBinding_ITenantService">
      <soap:address location="http://localhost:82/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>