Framework/src/Appva.Apis.TenantServer.Legacy/Service References/Wcf/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:82/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" />
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="FindResult" nillable="true" type="q2:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByContext">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindByContextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="FindByContextResult" nillable="true" type="q3:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Load">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="LoadResult" nillable="true" type="q4:ArrayOfTenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Persist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="tenant" nillable="true" type="q5:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="PersistResult" nillable="true" type="q6:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Merge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="tenant" nillable="true" type="q7:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Remove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="tenant" nillable="true" type="q8:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Inactivate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="tenant" nillable="true" type="q9:TenantDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InactivateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Log">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="logDto" nillable="true" type="q10:LogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLogs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Appva.Mcss.Wcf.Data" minOccurs="0" name="LoadLogsResult" nillable="true" type="q11:ArrayOfLogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>